[Unit]
Description=SBCCSvs
After=multi-user.target
[Service]
User=root
WorkingDirectory=/opt/dsf/plugins/BtnCmd/dwc
Type=idle
ExecStart=/usr/bin/python3 /opt/dsf/plugins/BtnCmd/dwc/SBCC_Main.py &> /dev/null
Restart=always
[Install]
WantedBy=multi-user.target
